@charset "utf-8";

.wrap{
}

.text{
    width: 900px;
  text-align: center;
  color: #40fd9c;
  font-size: 35px;
  font-weight: 600;
  text-shadow: 3px 3px 3px #006633; 
  margin: auto;
  margin-top:60px;
}

h2{
  margin-top: 60px;
  padding-bottom: 20px;
  font-size: 45px;
}
.box{
  width: 1000px;
  margin-bottom: 50px;
  margin:auto;
  margin-top: 50px;
}



.flex{
  display: flex;
  flex-wrap: wrap;
}

.sample{
  width: 200px;
  height: 200px;
}

.subtext{
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
}

.eximg{
  text-align: center;
  width: 1000px;
  margin:auto;
  margin-bottom: 70px;
  margin-top: 30px;
}


.exbox{
  border-radius: 50px;
  margin: auto;
  margin-top: 30px;

}

.features{
  width: 70%;
}

a{
  text-decoration: none;
}

.sinki{
  font-size: 40px;
  text-align: center;
  color: #ff7d64;
  font-weight: 700;

}

.button{
  width: 600px;
  height: 100px;
  margin: auto;
  background-color: #fff;
  border-radius: 30px;
  padding-top: 31px;
  border:2px #ff7d64 solid;


  transition:
      background-color 0.2s linear,
      color 0.2s linear,
      border 0.2s linear
}

.button:hover{
  color: #fff;
  background-color: #ff7d64;
  border:2px #ff7d64 solid;
}

.buttonbox{
  margin-top: 40px;
  margin-bottom: 55px;
}



/*ログインボタン*/

.login{
  font-size: 40px;
  text-align: center;
  color: #40fd9c;
  font-weight: 700;

}

.loginbutton{
  width: 600px;
  height: 100px;
  margin: auto;
  background-color: #fff;
  border-radius: 30px;
  padding-top: 31px;
  border:2px #40fd9c solid;


  transition:
      background-color 0.2s linear,
      color 0.2s linear,
      border 0.2s linear
}

.loginbutton:hover{
  color: #fff;
  background-color: #40fd9c;
  border:2px #40fd9c solid;
}

.loginbuttonbox{
  margin-top: 40px;
  margin-bottom: 55px;
}

/*フェードイン*/