@charset "utf-8";

#wrap{
  width: 1000px;
  margin: 20px auto;
  border: solid 3px #ff8484;

}

#wrap h2{
  width: 80%;
  font-size: 25px;
  line-height: 30px;
  padding: 20px 0;
  border-bottom: dashed 3px #ff7d64;
  margin: 0 auto;
}

.icon{
  display: none;
}

#wrap img{
  display: block;
  width: 200px;
  padding: 10px 0;
  margin:0 auto;
}

#wrap button{
  display: block;
  width: 150px;
  height: 50px;
  margin:10px auto;
  background-color: #84ffff;
  border-radius: 5px;
  border:none;
}

#wrap form{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px 0;
  margin: 0 auto;
}

.edit-submit{
  width: 150px;
  height: 50px;
  background-color: #84ffff;
  border-radius: 5px;
  border:none;
  margin: 20px auto;

}


footer{
  width: 100%;
  background-color: aquamarine;
}

footer .flex-box{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
