#wrap{
    width: 1000px;
    display: block;
    margin: 0 auto;
    background-color: #eafff4;
}

#notice{
    display: block;
    width: 100%;
    padding: 20px 30px;
    padding-bottom: 50px;
    margin: 80px auto;
}

#notice h2{
    width: 100%;
    margin-bottom: 50px;
    border-bottom: solid 3px #ff7d64;
}

.content{
    padding: 20px 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #fff;
}

.date{
    margin-bottom: 10px;
}

.notification-box{
    display: flex;
}

.content figure{
    width: 250px;
}

.content figure img.wallpaper{
    width: 200px;
    height: 130px;
    background-color: white;
    object-fit: cover;
}

.content figure img.user{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
}

.content .notification-box .text{
    display: flex;
    align-items: center;
}

.content .notification-box p{
    line-height: 30px;
}

.content .notification-box .chat-content a{
    color: #696969;
}


