#wrap{
    width: 1000px;
    margin: 0 auto;
}

#contents{
    display: block;
    width: 100%;
    padding: 20px 30px;
    margin: 80px auto;
    background-color: #eafff4;
}


.wallpaper-list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin-top: 40px;
}

div.card{
    width: 33.3%;
    padding-right: 10px;
    margin: 40px 0;
}

div.card:nth-child(3n){
    padding-right: 0;
}

figure{
    background-color: #EFEFEF;
    height: 170px;
}

figure img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 170px;
}

.del{
    margin-top: 10px;
    text-align: right;
}

button{
    border: none;
    background-color: #ff7d64;
    color: white;
    border-radius: 5px;
}

.more{
    text-align: right;
    margin-top: 20px;
}